html {
    font-family: "arial";
    color: #222;
}

body > header {
    padding-top: 10px;
    color: white;
    width: 90%;
    display: block;
    margin: auto;
}

body > header h1 {
    font-size: 32px;
    font-weight: bold;
    border: 1px outset #000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background: #448acc;
    background: -moz-linear-gradient(top, #448acc 0%, #5c96cc 20%, #0c6acc 100%);
    background: -webkit-linear-gradient(top, #448acc 0%,#5c96cc 20%,#0c6acc 100%);
    background: linear-gradient(to bottom, #448acc 0%,#5c96cc 20%,#0c6acc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448acc', endColorstr='#0c6acc',GradientType=0 );
    background-repeat: no-repeat;
    background-attachment:fixed; 
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 16px 16px 0 rgba(0,0,0,0.19);
}

article {
    text-align: justify;
    width: 90%;
    max-width: 50em;
    display: block;
    margin: 0 auto;
}

article h1 {
    color: #000;
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 5px;
    clear: both;
}

article img {
    float: right;
    max-width: 100%;
    margin-left: 1em;
    margin-bottom: 1ex;
}

.outline {
    color: black;
    font-weight: bold;
    text-shadow:
    2px  0px 0 white,
    -2px  0px 0 white,
    0px  2px 0 white,
    0px -2px 0 white,  
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px  2px 0 white,
    2px  2px 0 white,
    5px 5px 10px black;
}

.icondiv {
    display: table-cell;
    float: right;
}
.icon {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19); 
    border: 1px outset #000;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}
