body, html {
    padding: 3px 3px 3px 3px;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;

    background: #448acc;
    background: -moz-linear-gradient(top, #448acc 0%, #5c96cc 20%, #0c6acc 100%);
    background: -webkit-linear-gradient(top, #448acc 0%,#5c96cc 20%,#0c6acc 100%);
    background: linear-gradient(to bottom, #448acc 0%,#5c96cc 20%,#0c6acc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448acc', endColorstr='#0c6acc',GradientType=0 );
    margin: 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

body {
    height: 100%;
}

h1, h2 {
    text-align: center; 
}

.outline {
    color: black;
    font-weight: bold;
    text-shadow:
    2px  0px 0 white,
    -2px  0px 0 white,
    0px  2px 0 white,
    0px -2px 0 white,  
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px  2px 0 white,
    2px  2px 0 white,
    5px 5px 10px black;
}

a {
    color: white;
}

